@import url(geared/stylesheet.css);
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Source+Code+Pro";
body {
  background: url(gray_jean.png);
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Geared Slab", "Source Sans Pro", sans-serif; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 1em; }

p, li {
  line-height: 1.5em; }

code {
  font-family: "Source Code Pro", cousine, "Droid Sans", monospace;
  font-size: .9em;
  border: 1px solid #d7dbda;
  padding: 0 5px;
  border-radius: 2px; }

a {
  color: #0da6f2; }
  a:hover {
    color: #0a85c2; }
  a:active {
    color: #086391; }

.left {
  float: left; }

.right {
  float: right; }

.wrap {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  width: 800px;
  margin: 50px auto;
  padding: 0 50px;
  border: 1px solid #d7dbda;
  box-shadow: 3px 3px 3px rgba(161, 170, 169, 0.4); }

header {
  clear: both;
  padding: 25px 0 15px;
  border-bottom: 1px solid #d7dbda;
  margin-bottom: 25px; }
  header h1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  header nav {
    border-top: 1px solid #d7dbda;
    margin-top: 25px;
    padding-top: 15px; }
    header nav ul {
      list-style: none;
      display: table;
      margin: 0 auto;
      padding: 0; }
      header nav ul li {
        float: left;
        padding: 0 10px; }

footer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-top: 1px solid #d7dbda;
  width: 100%;
  margin-top: 25px;
  padding: 25px 0; }
  footer p {
    text-align: center;
    font-size: .8em;
    color: #a1aaa9; }
    footer p a {
      color: #86d2f9; }
      footer p a:hover {
        color: #55c1f6; }
      footer p a:active {
        color: #25aff4; }

section {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
