body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
  background: url(../img/gray_jean.png);
  font-weight: 300; }

p {
  font-family: "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  padding: 0 0 1em;
  margin: 0; }
  p strong {
    font-weight: 600; }

h1, h2, h3, h4 {
  font-family: Bitter, "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif; }

h1 {
  text-align: center; }

h1 {
  font-size: 3em; }

h2 {
  font-weight: 400; }

hr {
  height: 0px;
  padding: 1em 0 0;
  margin: 0 0 1em;
  border: 0px solid transparent;
  border-bottom: 1px solid #cccccc; }
  hr.notop {
    padding: 0; }

a {
  color: #52b1e0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header h1 {
  text-align: center;
  padding: 0;
  margin: 0; }
header .subtitle {
  font-size: 1.2em;
  color: gray;
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc; }

footer p {
  color: gray;
  text-align: center;
  font-size: .95em; }
footer a {
  color: #7dc4e8; }

code {
  font-family: "Source Code Pro", Cousine, "Droid Sans Mono", monospace;
  font-size: 16px;
  font-weight: 300; }

pre {
  padding-bottom: 1em; }

h2.info {
  font-style: italic;
  color: #646464;
  font-weight: 400;
  text-align: center; }

.wrap {
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  background: white;
  padding: 50px;
  margin: -30em auto 50px;
  box-shadow: 0px 0px 5px gray; }

.hero-img {
  background-image: url(../img/bg.jpg);
  background-repeat: none;
  background-position: center 30%;
  height: 750px;
  width: 100%;
  border-bottom: 10px solid #444;
  padding: 0;
  margin: 0;
  background-color: black; }
