//@import 'bourbon/bourbon';

// fonts
$bodyfont: "Source Sans Pro", "Droid Sans", Helvetica, Arial, sans-serif;
$titlefont: Bitter, $bodyfont;
$codefont: "Source Code Pro", Cousine, "Droid Sans Mono", monospace;

// colors
$lightgray: hsl(120, 0%, 50%);
$blue: hsl(200, 70%, 60%);
$lightblue: hsl(200, 70%, 70%);

body {
  padding: 0;
  margin: 0;
  //font-size:16px;
  font-family: $bodyfont;
  background: url(../img/gray_jean.png);
  font-weight: 300;
}

p {
  font-family: $bodyfont;
  font-size: 18px;
  line-height: 1.5em;
  padding: 0 0 1em;
  margin: 0;

  strong {
    font-weight: 600;
  }
}

h1, h2, h3, h4 {
  font-family: $titlefont;
}
h1 { text-align: center; }
h1 { font-size: 3em; }
h2 { font-weight: 400; }

hr {
  height: 0px;
  padding: 1em 0 0;
  margin: 0 0 1em;
  border: 0px solid transparent;
  border-bottom: 1px solid lighten($lightgray, 30%);

  &.notop {
    padding: 0;
  }
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {

  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .subtitle {
    font-size: 1.2em;
    color: $lightgray;
    text-align: center;
    //font-family: $titlefont;
    font-style: italic;

    padding-bottom: 20px;
    border-bottom: 1px solid lighten($lightgray, 30%);
  }
}

footer {
  p {
    color: $lightgray;
    //font-style: italic;
    text-align: center;
    font-size: .95em;
  }

  a {
    color: $lightblue;
  }
}

code {
  font-family: $codefont;
  font-size: 16px;
  font-weight: 300;
}

pre {
  padding-bottom: 1em;
}

h2.info {
  font-style: italic;
  color: rgb(100, 100, 100);
  font-weight: 400;
  text-align: center;
}

.wrap {
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  background: white;

  //border-radius: 5px;
  padding: 50px;
  margin: -30em auto 50px;

  box-shadow: 0px 0px 5px $lightgray;
}

.hero-img {
  background-image: url(../img/bg.jpg);
  //background-size: 100%;
  background-repeat: none;
  background-position: center 30%;
  height: 750px;
  width: 100%;

  border-bottom: 10px solid #444;
  padding: 0; margin: 0;
  background-color: black;
}